version: 2.1

workflows:
  test:
    jobs:
    - build-run-linux:
        context: hello-world-demos

  test-daily:
    triggers:
    - schedule:
        cron: "0 6 * * *"
        filters:
          branches:
            only: main
    jobs:
    - build-run-linux:
        context: hello-world-demos

# This CI build ensures that the demo both compiles and works correctly. For the runtime test,
# we use an SDK key and flag key that are passed in via the CircleCI context; the flag is
# configured to return a true value.

jobs:
  build-run-linux:
    docker:
      - image: cimg/go:1.18
    steps:
      - checkout
      - run:
          name: verify that SDK dependencies have not been pinned
          command: |
            if grep 'github.com/launchdarkly/[^ ]* v' go.mod; then
              echo "Undesirable specific version dependency! See go.mod for explanation."
              exit 1
            fi
      - run:
          name: insert SDK key and flag key into demo code
          command: |
            sed -i.bak "s/sdkKey *= *\".*\"/sdkKey = \"${LD_HELLO_WORLD_SDK_KEY}\"/" main.go
            sed -i.bak "s/featureFlagKey *= *\".*\"/featureFlagKey = \"${LD_HELLO_WORLD_FLAG_KEY_WITH_TRUE_VALUE}\"/" main.go
      - run: go build
      - run:
          name: run demo
          command: |
            ./hello-go | tee output.txt
            grep "is true for this context" output.txt || (echo "Flag did not evaluate to expected true value" && exit 1)
